
@font-face {
  font-family: "webfont";
  font-display: swap;
  src: url("webfont.woff2") format("woff2");
}
body {
  background: blue;
  background-image: url('./logo.jpg');
  font-family: "webfont" !important;
}